<div class="categories_widget">
    <ul class="list_style">
        <li><a href="dashboard.php">dashboard <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li><a href="my-account.php">My account <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li><a href="orders.php">My Orders <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <!--<li><a href="track-order.php">Track Orders <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>-->
        <li><a href="addresses.php">Addresses <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        <li><a href="logout.php">Logout</a></li>
    </ul>
</div>