{% extends 'base.html' %}
{% load static %}
{%block title%}Address List{%endblock%}
{%block content%}
<!--================End Main Header Area =================-->
<section class="banner_area wow bounceInDown">
	{% for sub_banner in sub_banners%}
	<picture>
		<source media="(max-width:767px)" srcset="{{ sub_banner.mob_image.url }}">
		<source media="(min-width:768px)" srcset="{{ sub_banner.desk_image.url }}">
		<img src="#" alt="{{ sub_banner.title }}">
	</picture>
	{% endfor %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Address</li>
			</ol>
		</nav>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================sign-in Area =================-->
<section class=" p_100">
<div class="container">
	<div class="row">
		<div class="col-md-3 border-right wow animate">
			{%include 'include/admin-sidebar.html'%}
		</div>
		<div class="col-md-9 wow animate">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="text-dark mb-0">Addresses List</h3>
                        <a href="{% url 'address'%}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Address</a>
                    </div>
                    <hr>
                    {% if messages %}
                    {% for message in messages %}
                      {%if message.tags == "warning" %}
                      <div class="alert alert-danger mt-3">{{message}}</div>
                      {%elif message.tags == "success" %}
                      <div class="alert alert-success mt-3">{{message}}</div>
                      {%endif%}
                    {% endfor %}
                    {%endif%}
                    <div class="row">
                    {% for address in address_data %}
                    <div class="col-sm-6">
                     <div class="card mb-4">
                      <div class="card-body">
                       <div class="card-buttons">
                        <a href="/address/{{address.id}}" class="card-edit btn btn-primary mr-2"><i class="fa fa-pencil"></i></a>
                        <form action="" method="post" class="d-inline-block">
                         {%csrf_token%}
                         <input type="hidden" name="add_id" value="{{address.id}}">
                         <button class="card-edit btn btn-danger"><i class="fa fa-trash"></i></button>
                        </form>
                       </div>
                       <h5>Address {{forloop.counter}}</h5>
                       <p>Name: {{address.name}}</p>
                       <p>Phone No.: {{address.phone}}</p>
                       <p>Locality: {{address.locality}}</p>
                       <p>City: {{address.city}}</p>
                       <p>Zipcode: {{address.zipcode}}</p>
                       <p>State: {{address.state | title}}</p>
                      </div>
                     </div>
                    </div>
                    {%empty%}
                    <div class="text-center col-12 mb-5">
                      <h1 class="mb-3">Address is empty.</h1>
                      <p>Please at least an address for make an order.</p>
                     <a href="" class="btn btn-primary">Add Address</a>
                    </div>
                    {% endfor %}
                   </div>
                </div>
            </div>
		</div>
	</div>
</div>
</section>
<!--================End sign-in Area =================-->
{% endblock %}