{% extends 'base.html' %}
{% load static %}
{%block title%}Book Order{%endblock%}
{%block content%}
<!--================End Main Header Area =================-->
<section class="banner_area wow bounceInDown">
	{% for sub_banner in sub_banners%}
	<picture>
		<source media="(max-width:767px)" srcset="{{ sub_banner.mob_image.url }}">
		<source media="(min-width:768px)" srcset="{{ sub_banner.desk_image.url }}">
		<img src="#" alt="{{ sub_banner.title }}">
	</picture>
	{% endfor %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Book an Order</li>
			</ol>
		</nav>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================sign-in Area =================-->
<section class=" p_100">
<div class="container">
	<div class="row">
	<div class="col-md-6 border-right wow">
			<div class="main_title wow zoomIn">
				<h2>Sign Up</h2>
			</div>
			{% if form.non_field_errors %}
			{% for error in form.non_field_errors %}
			<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
			{%endif%}
			<form class="row wow lightSpeedIn animated" action="" method="POST" id="contactForm" novalidate>
				{% csrf_token %}
				<input type="hidden" name="form_name" readonly value="signup_form">
				{%for forms in form%}
				<div class="col-md-12 form-group">
					{{ forms }}
					{% for error in forms.errors%}
					<small class="text-danger">{{error}}</small>
					{%endfor%}
				</div>
				{%endfor%}
				<div class="form-group col-md-12">
					<input type="submit" name="signup" value="SIGN UP" class="pink_btn">
				</div>
			</form>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	<div class="col-md-6 wow  animate">
			<div class="main_title wow zoomIn">
				<h2>Sign In</h2>
			</div>
			{% if formLogins.non_field_errors %}
				{% for error in formLogins.non_field_errors %}
				<div class="alert alert-danger">{{ error }}</div>
				{% endfor %}
			{%endif%}
			<form action="" method="post" class="row wow lightSpeedIn" novalidate>
				{% csrf_token %}
				<input type="hidden" name="form_name" readonly value="login_form">
				{%for formLo in formLogins%}
				<div class="col-md-12 form-group">
					{{ formLo }}
					{% for error in formLo.errors%}
					<small class="text-danger">{{error}}</small>
					{%endfor%}
				</div>
				{%endfor%}
				<div class="form-group col-6">
					<input type="submit" name="signup" value="Login" class="pink_btn">
				</div>
				<div class="form-group col-6 text-right">
					<a href="{% url 'password_reset' %}">Forgot Password?</a>
				</div>
			</form>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>
</div>
</section>
<!--================End sign-in Area =================-->
{% endblock %}