{% extends 'base.html' %}
{% load static %}
{%block content%}
<!--================End Main Header Area =================-->
<section class="banner_area wow bounceInDown">
	{% for sub_banner in sub_banners%}
	<picture>
		<source media="(max-width:767px)" srcset="{{ sub_banner.mob_image.url }}">
		<source media="(min-width:768px)" srcset="{{ sub_banner.desk_image.url }}">
		<img src="#" alt="{{ sub_banner.title }}">
	</picture>
	{% endfor %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Order Cancelled</li>
			</ol>
		</nav>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================Product Area =================-->
<section class="product_area p_100">
	<div class="container">
		<div class="row">
            <div class="col-12 text-center">
                <h1>Order Cancelled</h1>
                <p>Your order has been cancelled.</p>
                <a href="{% url 'our menu' %}" class="pink_btn">Shop More</a>
            </div>
		</div>
	</div>
</section>
<!--================Product Area =================-->
{% endblock %}