{% extends 'base.html' %}
{% load static %}
{%block title%}Book Order{%endblock%}
{%block content%}
<!--================End Main Header Area =================-->
<section class="banner_area wow bounceInDown">
	{% for sub_banner in sub_banners%}
	<picture>
		<source media="(max-width:767px)" srcset="{{ sub_banner.mob_image.url }}">
		<source media="(min-width:768px)" srcset="{{ sub_banner.desk_image.url }}">
		<img src="#" alt="{{ sub_banner.title }}">
	</picture>
	{% endfor %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Password Reset</li>
			</ol>
		</nav>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================sign-in Area =================-->
<section class=" p_100">
<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
            <h3 class="alert-heading">Well done!</h3>
            <p>An email has been sent with instructions to reset your password. <b>Check your email.</b></p>
		</div>
	</div>
</div>
</section>
<!--================End sign-in Area =================-->
{% endblock %}