{% extends 'base.html' %}
{% load static %}
{%block title%}Book Order{%endblock%}
{%block content%}
<!--================End Main Header Area =================-->
<section class="banner_area wow bounceInDown">
	{% for sub_banner in sub_banners%}
	<picture>
		<source media="(max-width:767px)" srcset="{{ sub_banner.mob_image.url }}">
		<source media="(min-width:768px)" srcset="{{ sub_banner.desk_image.url }}">
		<img src="#" alt="{{ sub_banner.title }}">
	</picture>
	{% endfor %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Password Reset</li>
			</ol>
		</nav>
	</div>
</section>
<!--================End Main Header Area =================-->
<!--================sign-in Area =================-->
<section class=" p_100">
<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
            <h3 class="text-center">Reset Password</h3>
            {% if form.non_field_errors %}
             {% for error in form.non_field_errors %}
              <p class="alert alert-danger my-3">{{error}}</p>
             {% endfor %}
            {% endif %}
           <form action="" method="post" class="shadow p-5">
            {% csrf_token %}
            {%for forms in form%}
            <div class="form-group mb-3">
             {{forms.label_tag}}
             {{forms}}
             {% for error in forms.errors%}
             <small class="text-danger">{{error}}</small>
             {%endfor%}
            </div>
            {%endfor%}
            <div class="text-end">
             <button type="submit" class="btn btn-danger">Send Now</button>
            </div>
           </form>
           {% if messages %}
           {% for message in messages %}
           <div class="alert alert-success mt-5">{{message}}</div>
           {% endfor %}
           {%endif%}
		</div>
	</div>
</div>
</section>
<!--================End sign-in Area =================-->
{% endblock %}